{% extends "layout.html" %}

{% block body %}
  <p>
      <p style="font-size:30px">{{bile.name}}</p>
    
    {{bile.date}}
    <p>Klo {{bile.klo}}</p>
    <br /> <br />
    <form method="POST" action="{{ url_for('tasks_participate', task_id=bile.id) }}">
      <input type="submit" class="btn btn-primary" value="Osallistu"/>
    </form>
    <th>Osallistujat</th>
    {% if tasks_osallistujat is defined %}

    <ul>
        
      {% for user in tasks_osallistujat %}
      
      <li>
        {{user.name}}
      </li>

      <form method="POST" action="{{ url_for('participation_delete', task_id=bile.id) }}">
        
        <input type="submit" class="btn btn-primary" value="Poista!"/>
      </form>
      
      {% endfor %}
    </ul>
    {% endif %}
    
  </p>

{% endblock %}