{% extends "layout.html" %}

{% block body %}

   


  <table>
      <th>Tässä näet käyttäjän tiedot</th>
    <tr>
      <th>Käyttäjänimi</th>
      

      <th>Nimi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </th>
      <th>Salasana</th>
    </tr>
    
    <tr>
      
        {% for user in user_information %}
      <td>{{ user.username }}</td>
      <td>{{ user.name }}</td>
      <td><a href="https://akphoto1.ask.fm/296/899/863/-149996967-1t9h3da-d11smi4sli8t9pp/original/avatar.jpg">Tästä painamalla näet käyttäjän salasanan</a></td>
    

      
      
    
    </tr>

    {% endfor %}
    
  </table>

  <br>
  <br>
<table>
  <tr>
    <th>Käyttäjän järjestämät bileet</th>
  </tr>
  {% if users_tasks is defined %}
  <tr>
  {% for task in users_tasks %}
  <td><a href="{{ url_for('tasks_information', task_id=task.id) }}">{{ task.name }}</a></td> 
  <td>{{ task.date }}</td>    
  

</tr>

{% endfor %}
</table>

{% endblock %}