{% extends "layout.html" %}

{% block body %}


  <table>
      <th>Napauta bileitä nähdäksesi osallistujat ja voit myös itse osallistua</th>
    <tr>
      <th>Bileet</th>

      <th>Pvm &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </th>
      <th>Klo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Ovatko bileet jo alkaneet &nbsp;&nbsp;&nbsp;</th>

      <th>Järjestäjä</th>
      
    </tr>
    {% for task in tasks %}
    <tr>
      
      <td><a href="{{ url_for('tasks_information', task_id=task.id) }}">{{ task.name }}</a></td>
      <td>{{ task.date }}</td>
      <td>{{ task.klo }}</td>
      <td>{{ task.done }}</td>
      
      <td>
        {{ task.account_name }}
  <form method="POST" action="{{ url_for('tasks_delete', task_id=task.id) }}">
	  <input type="submit" class="btn btn-primary" value="Poista!"/>
  </form>
  <form method="POST" action="{{ url_for('tasks_set_done', task_id=task.id) }}">
    <input type="submit" class="btn btn-primary" value="Käynnissä"/>
  </form>
      </td>
      
    
    </tr>
    
    {% endfor %}
    
  </table>


{% endblock %}
