{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('tasks_create') }}">
  <table>
    <tr>
<td>
  {{ form.name.label }}
</td>
<td>
  {{ form.name(class_="form-control") }}
</td>
<td>
  <ul>
    {% for error in form.name.errors %}
    <li>{{ error }}</li>
    
    {% endfor %}
  </ul>
</td>
<td>
	  {{ form.date.label }}
	</td>
<td>
    {{ form.date(class_="form-control") }}
  </td>
  <td>
    <ul>
      {% for error in form.date.errors %}
      <li> Laita päivämäärä muodossa pp.kk.vvvv </li>
      {% endfor %}
    </ul>
    
</td>
<td>{{ form.klo.label }}</td>
<td>
    {{ form.klo(class_="form-control") }}
  </td>
<td>
    <ul>
      {% for error in form.klo.errors %}
      
      {% endfor %}
    </ul>
    
</td>
<td>{{ form.location.label }}</td>
<td>
    {{ form.location(class_="form-control") }}
  </td>
<td>
    <ul>
      {% for error in form.klo.errors %}
      
      {% endfor %}
    </ul>
    
</td>

    </tr>

    <tr>

    
<td>
  {{ form.done.label }}
</td>
<td>
  {{ form.done }}
</td>




<td>
</td>
    </tr>
    <tr>
<td colspan="3">
  <input type="submit" class="btn btn-primary" value="Lisää bileet listaan"/>
</td>

    </tr>
</form>
{% endblock %}
